<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>myproject-new</title>
    <link href=css/app.3fe8f44b6ff6187c56e5b3abe783b22c.css rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=js/manifest.2ae2e69a05c33dfc65f8.js></script>
    <script type=text/javascript src=js/vendor.db3d443f0add2aab47d5.js></script>
    <script type=text/javascript src=js/app.9d3944336e90f46d9b7f.js></script>
</body>

</html>
