<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type=image/x-icon href=/images/logo.png>
    <title>杭州市富阳区第一人民医院智慧党建系统</title>
    <link href=/css/app.c3ba66aa069f6f147f22d4897aba7b68.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/js/manifest.5ebdb86dbeef19313db4.js></script>
<script type=text/javascript src=/js/vendor.b52b9592639f26ad6367.js></script>
<script type=text/javascript src=/js/app.53330fb0723396f9e1cb.js></script>
</body>
</html>